body {
  background-color: #eee;
  padding-top:30px;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}

.glyphicon {
  margin-bottom: 10px;
  margin-right: 10px;
}

.dropdown-menu {
  min-width: auto;
}

.panel-title {
  line-height: 34px;
}